<div class="container">

    <div class="row">

        <div class="col s12">
            <h2><span>Nimm Kontakt mit uns auf</span></h2>
        </div>

    </div>

    <div class="row">
        <!--<div class="col l8 m8 s12">
            <div><strong>Wiegand Automobile</strong></div>
            <div>Heidelbergerstrasse 30,</div>
            <div>68519 Viernheim</div>

            <div><em>Telefon:</em> <span>+49 (0) 6204 6080716</span></div>
            <div><em>E-Mail:</em> <a
                    href="mailto:wiegand-automobile@mobile.de">wiegand-automobile@mobile.de </a></div>
            <div><em>Fax:</em> <span>+49 (0) 6204 6080718</span></div>
        </div>-->

        <div class="col s12 m6 s6">
            <div class="card">
                <div class="card-image">
                    <img [src]="images.logo">
                </div>
                <div class="card-content">
                    <p><strong>Wiegand Automobile</strong></p>
                    <p>Heidelbergerstrasse 30,</p>
                    <p>68519 Viernheim</p>

                    <p><em>Telefon:</em> <span>+49 (0) 6204 6080716</span></p>
                    <p><em>E-Mail:</em> <a
                            href="mailto:wiegand-automobile@mobile.de">wiegand-automobile@mobile.de </a></p>
                    <p><em>Fax:</em> <span>+49 (0) 6204 6080718</span></p>
                    <br>
                </div>
            </div>
        </div>

        <div class="col s12 m6 s6">
            <div class="card">
                <div class="card-image">
                    <img [src]="images.contact">

                </div>
                <div class="card-content">
                    <p>
                        Unser Hauptanliegen ist es, unseren Kunden im Rahmen unserer Möglichkeiten jeden Wunsch
                        zeitnah zu
                        erfüllen. Das meint: Fachwissen, Freundlichkeit, Kompetenz und Schnelligkeit sind die vier
                        Größen, an
                        denen wir uns täglich messen lassen. Unser Service: Alles, was mit dem Thema „Auto“ zu tun
                        hat.
                    </p>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col s12 m6 l6 center-align">
            <a href="tel:+49 6204 6080716"
               class="waves-effect waves-light btn blue">
                <i class="large material-icons left">phone</i><span>Ruf an: <strong>+49 6204 6080716</strong></span></a>
        </div>
        <div class="col s12 m6 l6 center-align">
            <span class="waves-effect waves-light btn blue" (click)="onEmailSelect()"
                  onclick="window.prompt('Kopieren in die Zwischenablage: Strg+C, Eingabetaste', 'WIEGAND-AUTOMOBILE@MOBILE.DE');">
                       <i class="large material-icons left">email</i><span>WIEGAND-AUTOMOBILE@MOBILE.DE</span></span>
        </div>
    </div>
    <br>
    <br>
</div>
