<div class="header header_map">

  <div id="header_map"></div>

</div>
<!--/ header -->
<!-- middle -->
<div id="middle" class="cols2">
  <div class="container clearfix">

    <!-- content -->
    <div class="content">

      <div class="contact_box">
        <h2>Komm uns besuchen:</h2>
        <div class="box_content clearfix">
          <div class="left_side contact-address">
            <div class="name"><strong>Wiegand Automobile</strong></div>
            <div class="address">Heidelbergerstrasse 30, 68519 Viernheim</div>

            <div class="row phone"><em>Telefon:</em> <span>+49 (0) 6204 6080716</span></div>
            <div class="row mail"><em>E-Mail:</em> <a
              href="mailto:wiegand-automobile@mobile.de">wiegand-automobile@mobile.de </a></div>
            <div class="row fax"><em>Fax:</em> <span>+49 (0) 6204 6080718</span></div>

          </div>
          <div class="right_side">
            <h3>Komm uns besuchen</h3>
            <p>Unser Hauptanliegen ist es, unseren Kunden im Rahmen unserer Möglichkeiten jeden Wunsch zeitnah zu
              erfüllen. Das meint: Fachwissen, Freundlichkeit, Kompetenz und Schnelligkeit sind die vier Größen, an
              denen wir uns täglich messen lassen. Unser Service: Alles, was mit dem Thema „Auto“ zu tun hat.</p>
          </div>
        </div>

      </div>
      <!--/ content -->


    </div>
    <!-- sidebar -->
    <div class="sidebar">

      <!-- flickr widget -->
      <div class="widget-container flickr flickr_white">
        <h3 class="widget-title">Showroom Autohaus:</h3>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0078.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0078.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0080.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0080.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
        <div class="flickr_badge_image">
          <a href="/app/images/car_dealer/DSC_0072.JPG" rel="prettyPhoto[location]">
            <img src="/app/images/car_dealer/DSC_0072.JPG" alt="Das Autohaus" title="Das Autohaus" height="75"
                 width="75">
          </a>
        </div>
      </div>
      <!--/ flickr widget -->

    </div>
    <!--/ sidebar -->
  </div>
  <!--/ middle -->
</div>
<!-- search -->
<div class="middle_row row_white search_row contact_form">
  <div class="container">
    <div class="text_box">
      <p>
        <a href="tel:+49 6204 6080716"
           class="btn btn_big btn_white"><span>Ruf an: <strong>+49 6204 6080716</strong></span></a>
        <span class="btn btn_big btn_orange"
              onclick="window.prompt('Kopieren in die Zwischenablage: Strg+C, Eingabetaste', 'WIEGAND-AUTOMOBILE@MOBILE.DE');">
                <span>WIEGAND-AUTOMOBILE@MOBILE.DE</span></span>
    </div>
    <!-- contact form -->
    <!--<form action="#" method="post" id="contactForm" class="clearfix ajax_form">

      <div class="form_col_1">
        <div class="row alignleft field_text">
          <label class="label_title">*Name:</label>
          <input type="text" name="yourname" id="name" value="" class="inputField required">
        </div>

        <div class="row alignleft field_text omega">
          <label class="label_title">*E-Mail:</label>
          <input type="text" name="email" id="email" value="" class="inputField required">
        </div>

        <div class="row field_select alignleft">
          <label class="label_title">Ihr Anliegen :</label>
          <select class="select_styled" name="subject" id="subject">
            <option value="interest_at_car">Interesse am Auto</option>
            <option value="feedback">Beratung</option>
            <option value="question">Frage</option>
          </select>
        </div>

        <div class="row field_text alignleft omega">
          <label class="label_title">Telefon:</label>
          <input type="text" name="phone" id="phone" value="" class="inputField">
        </div>
      </div>

      <div class="form_col_2">
        <div class="row">
          <label class="label_title">*Nachricht:</label>
          <textarea cols="30" rows="10" name="message" id="message" class="textareaField required"></textarea>
        </div>
      </div>

      <div class="form_col_3">
        <a onclick="document.getElementById('contactForm').reset();return false" href="#" class="link-reset">Alle Felder
          zurücksetzen</a>
        <div class="row rowSubmit clearfix">
          <input type="submit" value="Nachricht versenden" id="send" class="btn btn-submit">
        </div>
      </div>
    </form>
    <!--/ contact form -->
  </div>
</div>
<!--/ search -->

