<div class="header header_thin" style="background-image:url(images/header/6er.jpg)">

  <div class="header_title">
    <h1><span>Impressum</span></h1>
  </div>

</div>

<div id="middle" class="cols2">
  <div class="container clearfix">

    <!-- content -->
    <div class="content">

      <div class="contact_box">
        <h2>Impressum</h2>
        <div class="box_content clearfix">
          <div class="left_side contact-address" id="imprint_box">
            <div class="name"><strong>Wiegand Automobile</strong></div>
            <div class="address">Heidelbergerstrasse 30, 68519 Viernheim</div>

            <div class="row phone"><em>Telefon:</em> <span>+49 (0) 6204 6080716</span></div>
            <div class="row mail"><em>E-Mail:</em> <a
              href="mailto:wiegand-automobile@mobile.de">wiegand-automobile@mobile.de </a></div>
            <div class="row fax"><em>Fax:</em> <span>+49 (0) 6204 6080718</span></div>
            Umsatzsteuer-Identifikationsnr. nach § 27a Umsatzsteuergesetz:
            DE182434493
            Vertretungsberechtigt: Reiner Wiegand
          </div>
        </div>

      </div>
      <!--/ content -->


    </div>
  </div>
  <!--/ middle -->
</div>
<!-- search -->
<div class="middle_row row_white search_row contact_form">
  <div class="container">


  </div>
</div>
<!--/ search -->


