<navbar-component></navbar-component>

<router-outlet></router-outlet>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l4 m4 s12">
                <h5 class="white-text">Unser Autohaus</h5>
                <p class="grey-text text-lighten-4">Heidelbergerstrasse 30<br>
                    68519 Viernheim<br>
                    Deutschland<br>
                    Mo. - Fr.: 9:30 - 19:00 Uhr<br>
                    Sa.: 9:30 - 14:00 Uhr</p>
            </div>
            <div class="col l4 m4 s12">
                <h5 class="white-text">Komm uns besuchen</h5>
                <div class="footer_map" style="background:url('/images/footer/777.png'); max-width:100%;
max-height:100%;height:100%"><a routerLink="/anfahrt" class="amap"></a></div>

            </div>
            <div class="col l4 m4 s12">
                <h5 class="white-text">Bewertung</h5>
                <div class="textwidget">
                    <div class="sph">
                        <div style="width:100%;cursor: pointer;">
                            <a rel="nofollow" style="text-decoration:none;"
                               href="http://haendler.autoscout24.de/reiner-wiegand"
                               target="_blank">
                                <div
                                        style="border: 1px solid #CCCCCC;background-color: #E8E5E0; overflow:hidden; padding: 9px 9px;color: #003468; font: 12px/18px Verdana,Helvetica,Arial,sans-serif;">
                                    <div>
                                        <div style="float:left;"><img alt="logo"
                                                                      src="//s.autoscout24.net/Images/as24_logo_linkplus_transp.png">
                                        </div>
                                        <div style="overflow:hidden; padding-left: 9px;top:-1px; position: relative;line-height: 15px">
                                            Ausgezeichnet<br><span
                                                style="font-size: 10px;">von AutoScout24-Nutzern</span></div>
                                    </div>
                                    <div
                                            style="border: 1px solid #CCCCCC;background-color: white; padding: 15px 18px 18px 18px;width: auto; margin-top: 9px">
                                        <div style="font-weight: bold !important; color: black; word-wrap: break-word;text-align: center">
                                            Wiegand Automobile
                                        </div>
                                        <div
                                                style="margin-top: 6px;color: #335D86; font: bold 32px/39px Tahoma,Geneva,Kalimati,sans-serif;text-align: center">
                                            4,4
                                        </div>
                                        <div style="margin-top: 9px;text-align: center"><span
                                                style="display:inline-block;vertical-align: top;width: 20px;height: 20px;background: transparent url(//s.autoscout24.net/UI/Images/shared/icons/rating_stars_L_sprite.png) no-repeat center 0;"></span>&nbsp;<span
                                                style="display:inline-block;vertical-align: top;width: 20px;height: 20px;background: transparent url(//s.autoscout24.net/UI/Images/shared/icons/rating_stars_L_sprite.png) no-repeat center 0;"></span>&nbsp;<span
                                                style="display:inline-block;vertical-align: top;width: 20px;height: 20px;background: transparent url(//s.autoscout24.net/UI/Images/shared/icons/rating_stars_L_sprite.png) no-repeat center 0;"></span>&nbsp;<span
                                                style="display:inline-block;vertical-align: top;width: 20px;height: 20px;background: transparent url(//s.autoscout24.net/UI/Images/shared/icons/rating_stars_L_sprite.png) no-repeat center 0;"></span>&nbsp;<span
                                                style="display:inline-block;vertical-align: top;width: 20px;height: 20px;background: transparent url(//s.autoscout24.net/UI/Images/shared/icons/rating_stars_L_sprite.png) no-repeat center; background-position:0 -40px"></span>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                    <script type="text/javascript"
                            src="http://haendler.autoscout24.de/RatingSnippet/reiner-wiegand?u=h&amp;w=250"></script>
                    <br></div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container row" style="margin-bottom: 0px">
            <span class="col s12 m4 l4 phone">+49 (0) 6204 6080716</span>
            <span class="col s12 m4 l4 email center-align">wiegand-automobile@mobile.de</span>
            <a routerLink="/impressum" class="col s12 m4 l4 blue-text text-lighten-3 right-align">Impressum</a>
        </div>
    </div>
</footer>