<div class="slider">
    <ul class="slides">
        <li>
            <img [src]="images.headline1"> <!-- random image -->
            <div class="caption center-align">
                <h3 style="color: black;">This is our big Tagline!</h3>
                <h5 class="light black-text">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
                <h3 style="color: black;">Left Aligned Caption</h3>
                <h5 class="light black-text">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
                <h3 style="color: black;">Right Aligned Caption</h3>
                <h5 class="light black-text">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
                <h3 style="color: black;">This is our big Tagline!</h3>
                <h5 class="light black-text">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>