<div class="slider">
    <ul class="slides">
        <li>
            <img [src]="images.headline1">
            <div class="caption center-align">
                <h3 class="white-text">Wir beraten Sie gerne</h3>
                <h5 class="light white-text">Weil wir Autos lieben</h5>
            </div>
        </li>
        <li>
            <img [src]="images.headline2">
            <div class="caption center-align">
                <h3 class="white-text">Finanzierung möglich</h3>
                <h5 class="light white-text">Ganz individuell auf Sie abgestimmt</h5>
            </div>
        </li>
        <li>
            <img [src]="images.headline4">
            <div class="caption center-align">
                <h3 class="white-text">Seit 1985 für Sie da</h3>
                <h5 class="white-text">Profitieren Sie von unseren Erfahrungen auf dem Automarkt</h5>
            </div>
        </li>
        <!--<li>
            <img [src]="images.headline4">
            <div class="caption center-align">
                <h3 class="white-text">This is our big Tagline!</h3>
                <h5 class="light white-text">Here's our small slogan.</h5>
            </div>
        </li>-->
    </ul>
</div>